.blogCard{
    .imageWrapper{
        border-radius: 12px;
        position: relative;
        overflow: hidden;
        width: 100%;
        margin-bottom: 18px;
        height: 230px;
        display: block;
        &:hover{
            img {

            transform: scale(1.2);
            }
        }
        img {
            transition: all .2s

        };    
    }
    .dateText{
        font-size: 12px;
        color: #1E1F2D;
        padding: 5px 10px;
        background: #fff;
        border-radius: 100px;
        position: absolute;
        top: 15px;
        right: 10px;
    }
    .title{
        a{
            font-size: 18px;
            color: #161616;
            font-weight: 600;
            margin-bottom: 8px;
            display: block;
            line-height: 28px;
            transition: all .2s;
            &:hover{
                color: #bf1a1a;
            }
        }
      
    }
    .desc{
        color:#5b5b5b;
        font-size: 15px;
        display: -webkit-box;
        
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}