.contactForm {
    .firstRow {

        display: flex;
        flex-direction: column;
        @media screen and (min-width:576px) {
            flex-direction: row;
        }
        align-items: center;
        gap: 20px;
        margin-bottom: 30px;
    }

    .textAreaComment {
        margin-top: 30px;
        position: relative;

        label {
            position: absolute;
            top: 5px;
            left: 10px;
            position: absolute;
            top: 5px;
            left: 20px;
            font-size: 12px;
            color: #777777;
        }

        textarea {
            padding: 22px 20px 10px;
            border: 1px solid #eee;
            width: 100%;
            border-radius: 8px;


        }


    }
    .submit{
        background: #bf1a1a;
        padding: 12px 30px;
        font-size: 15px;
        color: #fff;
        margin-top: 30px;
        border-radius: 8px;
        border: none;
        min-width: 200px;
    }
}