@import "../../Common/styles/varible";
.termsWrapper{
    padding-top: 40px;
    padding-bottom: 40px;
    .content{
        *{
            margin-bottom: 15px;
            padding: 0;
            line-height: 1.5;
            letter-spacing: .5px;
            color: $blackColor;
           

        }
        h2{
            font-size: 24px;
            line-height: 28px;

        }
        P{
            font-size: 16px;
        }
        h5{
            font-size: 20px;
        }
        ul{
            padding-left: 30px;
            li{
                padding-left: 20px;
                color: $blackLightColor;
            }
        }
    }
}