@import "../../../Common/styles/varible";
.homeAbout{
    padding-bottom: 40px;
    .heading {
        font-size: 24px;
        color: $blackColor;
        line-height: 32px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.4px;
        font-weight: 600;
        margin-bottom: 20px;
    
        span {
          color: $primaryColor;
        }
    
        @media (min-width: 580px) {
          font-size: 28px;
          line-height: 38px;
        }
    
        @media (min-width: 992px) {
          font-size: 32px;
          line-height: 44px;
          margin-bottom: 30px;
        }
      }
      p{
        text-align: justify;
      }
}