@import "../../../Common/styles/varible";
.contact{
    padding-top: 40px;
    padding-bottom: 40px;
    .content{
        display: flex;
        gap: 20px;
        .imageWrapper{
            display: none;
            max-width: 400px;
            width: 100%;
            height: 100%;
            position: relative;
            min-height: 500px;
            border-radius: 10px;
            overflow: hidden;
            @media screen and (min-width:768px) {
                display: block;
                max-width: 300px;
            }
            @media screen and (min-width:991px) {
                max-width: 400px;
            }
            &::after{
                position: absolute;
                content: "";
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                background: linear-gradient(0deg, rgba(0, 0, 0, .75) 20%, rgba(0, 0, 0, .03) 100%);
            }
            img{
                object-fit: cover;
                object-position: center;
            }
        }
        .leftContent{
            flex: 1;
            .helpText{
                font-size: 15px;
                line-height: 1.6;
                color: $blackLightColor;
                letter-spacing: .5px;
                margin-bottom: 40px;
            }
        }
    }
}