.HomeBanner {
    position: relative;
    height: 350px;
    display: flex;
    align-items: center;

    @media screen and (min-width:576px) {
        height: 500px;
    }

    .content {
        max-width: 991px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        z-index: 1;
        text-align: center;

        h1 {
            letter-spacing: .4px;
            font-size: 24px;

            line-height: 1.4;
            color: #fff;
            font-weight: 700;

            @media screen and (min-width:576px) {
                font-size: 46px;
            }

            // margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            line-height: 26px;
            letter-spacing: .4px;
            color: #fff;
            max-width: 768px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .banner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 350px;

        @media screen and (min-width:576px) {
            height: 500px;
        }

        &::after {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            content: "";
            left: 0;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 20%, rgba(0, 0, 0, 0.03) 100%);
        }

        // img{
        //     width: 100%;
        // }
    }
}