@import "../../../Common/styles/varible";
.aboutContent{
    padding-top: 40px;
    padding-bottom: 40px;
    .aboutContentP{
        text-align: justify;
        line-height: 1.8;
        letter-spacing: .5px;
        color: $blackColor;
    }
}