.formTextInput {
    width: 100%;
    position: relative;

    label {
        position: absolute;
        top: 5px;
        left: 10px;
        position: absolute;
        top: 5px;
        left: 20px;
        font-size: 12px;
        color: #777777;
    }

    input {
        min-height: 60px;
        width: 100%;
        border-radius: 8px;
        border: 1px solid #eee;
        padding: 22px 20px 10px;
    }

}