@import "../../../Common/styles/varible";

.homeDestination {
  padding: 40px 0;
  @media screen and (min-width:991px) {
    padding: 100px 0;
  }

  .heading {
    font-size: 24px;
    color: $blackColor;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    font-weight: 600;

    span {
      color: $primaryColor;
    }

    @media (min-width: 580px) {
      font-size: 28px;
      line-height: 38px;
    }

    @media (min-width: 992px) {
      font-size: 32px;
      line-height: 44px;
    }
  }

  .destWrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    row-gap: 15px;
    margin-top: 50px;
    padding-bottom: 20px;

    @media (min-width: 992px) {
      overflow: visible;
      flex-wrap: nowrap;
      padding-bottom: 0;
      align-items: center;
    }

    .destItem {
      width: 100%;
      max-width: calc(50% - (20px / 2));

      @media (min-width: 580px) {
        min-width: 250px;
      }

      @media (min-width: 992px) {
        max-width: calc(25% - (60px / 4));
      }

      img {
        width: 100%;
        border-radius: 10px;
        height: 200px;
        object-fit: cover;

        @media (min-width: 580px) {
          height: 250px;
        }
      }

      p {
        font-size: 18px;
        text-align: center;
        font-weight: 600;
        line-height: 18px;
        margin-top: 10px;

        @media (min-width: 580px) {
          font-size: 22px;
        }

        @media (min-width: 992px) {
          font-size: 24px;
          margin-top: 15px;
        }
      }
    }
  }
}
